.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__epfC {
  display: grid;
  position: relative;
  width: 100%;
  height: 800px;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  background: url("/plasmic/bo_mo/images/db80F6502410447B8588De40Eacb1D62Png.png") 0% 0% / cover;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__epfC > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__epfC {
    background: url("/plasmic/bo_mo/images/formobileHomopng.png") top 50% left 50% / cover repeat;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__epfC > * {
    grid-column: 4;
  }
}
.section__xl3R1 {
  display: grid;
  position: relative;
  width: 100%;
  height: 800px;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__xl3R1 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xl3R1 {
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xl3R1 > * {
    grid-column: 4;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.columns__qlGxq {
  --plsmc-rc-col-gap: 0px;
}
.columns__qlGxq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__qlGxq > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__qlGxq > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qlGxq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qlGxq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___4H6Af {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__vuOz4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img__vuOz4 > picture > img {
  object-fit: cover;
}
.column__e5Ygi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__eRlSr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section___2Elqu {
  display: grid;
  position: relative;
  width: 100%;
  height: 800px;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  background: #000000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section___2Elqu > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___2Elqu {
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___2Elqu > * {
    grid-column: 4;
  }
}
.columns__m8CKy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__m8CKy > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__m8CKy > :global(.__wab_flex-container) > *,
.columns__m8CKy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__m8CKy > :global(.__wab_flex-container) > picture > img,
.columns__m8CKy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__m8CKy {
  --plsmc-rc-col-gap: 0px;
}
.columns__m8CKy > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__m8CKy > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__m8CKy > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m8CKy {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m8CKy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m8CKy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eabOb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__eabOb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__eabOb > :global(.__wab_flex-container) > *,
.column__eabOb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__eabOb > :global(.__wab_flex-container) > picture > img,
.column__eabOb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__r5Ddt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img__r5Ddt > picture > img {
  object-fit: cover;
}
.h3__f9EF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.column__aPbJy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__aPbJy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__aPbJy > :global(.__wab_flex-container) > *,
.column__aPbJy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__aPbJy > :global(.__wab_flex-container) > picture > img,
.column__aPbJy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__xtdKs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img__xtdKs > picture > img {
  object-fit: cover;
}
.h3__lgrvW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.column__lznwt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__lznwt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__lznwt > :global(.__wab_flex-container) > *,
.column__lznwt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lznwt > :global(.__wab_flex-container) > picture > img,
.column__lznwt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__sTSuA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img__sTSuA > picture > img {
  object-fit: cover;
}
.h3___1Dp3D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
